.subreddit-title {
    text-decoration: none;
    display: inline;
    color: #323232;
}

.subreddit-title--active {
    padding: 5px;
    border-radius: 5px;
    background-color: #008b8b;
    color: #ffffff;
}
