/*.moving-string {*/
/*    position: relative;*/
/*    display: inline;*/
/*}*/

.reddit-link {
    text-decoration: none;
    display: inline;
    color: #323232;
}

.reddit-link--active {
    padding: 5px;
    border-radius: 5px;
    background-color: #008b8b;
    color: #ffffff;
}
